@font-face {
  font-family: 'Ebrima';
  src: url('fonts/EBRIMA.TTF');
}

@font-face {
  font-family: 'Ebrima Bold';
  src: url(fonts/EBRIMABD.TTF);
}

$enable-flex: true;
$enable-transitions: true;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Ebrima", Roboto, "Helvetica Neue", Arial, sans-serif;
